[Unit]
Description=Journal Remote Sink Service
Documentation=man:systemd-journal-remote(8) man:journal-remote.conf(5)
Requires=systemd-journal-remote.socket
# See also:  https://serverfault.com/questions/758244/how-to-configure-systemd-journal-remote

[Service]
ExecStart=/lib/systemd/systemd-journal-remote \
          --listen-http=-3 \
          --output=/mnt/icybox/journal-remote/
User=systemd-journal-remote
Group=systemd-journal-remote
PrivateTmp=yes
PrivateDevices=yes
PrivateNetwork=yes
WatchdogSec=3min

[Install]
Also=systemd-journal-remote.socket
